body {
    font-family: sans-serif;
}

.form {
    border: 1px solid #000;
    border-radius: 5px;
    width: 250px;
}

legend {
    font-weight: 700;
    padding-top: 15px;
}

.form-group {
    border: none;
}

label {
    display: block;
    margin-bottom: 8px;
}

.input {
    display: block;
}

textarea {
    resize: vertical;
    max-height: 100px;
}

.checkbox {
    cursor: pointer;
}

.button {
    cursor: pointer;
}