body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: #181E34;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header {
    padding: 36px 0 36px;
}

.header_inner {
    display: flex;
    align-items: center;
}

.header_nav {
    margin-left: auto;
}

.header_list {
    display: flex;
}

.header_item {
    margin-right: 30px;
}

.header_button {
    color: #2766AE;
    background: #ffffff;
    border-radius: 100px;
    padding: 14px 30px;
    font-weight: 500;
}

.hero {
    padding: 120px 0;
    background: url(../img/hero_bg.jpg) 10% 50% / cover no-repeat;
}

.hero_title {
    text-transform: uppercase;
    line-height: 49px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 60px;
}

.hero_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_text {
    max-width: 436px;
}

.hero_text span {
    font-weight: 700;
    text-transform: uppercase;
    color: #01a2cb;
}

.paragraph {
    margin-bottom: 15px;
}

.hero_buttons {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.hero_button_one,
.hero_button_two {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
}

.hero_button_one img,
.hero_button_two img {
    margin-left: 4px;
}

.hero_button_one {
    background: linear-gradient(#00A4CC 0%, #2766AE 100%);
}

.hero_button_two {
    background: linear-gradient(#00A4CC 0%, #2766AE 100%);
}

.margin-bottom {
    margin-bottom: 10px;
}

.cards {
    padding: 120px 0;
}

.cards_title {
    text-transform: uppercase;
    line-height: 49px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}

.cards_text {
    max-width: 513px;
    text-align: center;
    margin: 0 auto 60px;
}

.cards_flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards_flex_item {
    margin-bottom: 28px;
    padding: 0 14px;
    flex: 0 0 25%;
}

.cards_flex_inner {
    background: #197CB8;
    border: 2px solid #176BAE;
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    padding: 28px 15px;
}

.cards_flex_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    height: 27px;
    margin-bottom: 10px;
}

.cards_flex_text {
    text-align: center;
}

.cards_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 18px 30px 18px 30px;
    max-width: 436px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
    margin: 0 auto;
}

.footer {
    border-top: 1px solid rgba(50, 57, 82, 1);
    padding: 60px;
}

.footer_inner {
    display: flex;
}

.footer_desc {
    max-width: 267px;
    margin-right: auto;
}

.footer_desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer_col {
    max-width: 204px;
    width: 100%;
}

.footer_col_margin {
    margin-right: 28px;
}

.footer_title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 20px;
}

.footer_item {
    margin-bottom: 10px;
}