.product-contact {
  padding-bottom: 19px;
}

.container__contact {
  max-width: 935px;
  margin: 0 auto;
}

.product-contact__body {
  border-radius: 16px;
  max-width: 935px;
  height: 450px;
  background: var(--bg-color);
}

.product-contact__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 47px;
}

.product-contact__info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  text-align: center;
  color: #000;
  padding-bottom: 9px;
}

@media (width <= 504px) {
	.product-contact__info-title {
		font-size: 35px;
	}
}

.product-contact__info-title-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000;
}

.product-contact__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 14px;
}

.product-contact__reg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-contact__mail {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #000;
  border: 1px solid #000;
  border-radius: 54px 0 0 54px;
  width: 285px;
  height: 50px;
  background: #dce5e2;
  padding-left: 32px;
}

.product-contact__signup {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 0 200px 200px 0;
  width: 115px;
  height: 50px;
  background-color: #000;
  transition: color var(--transition-time) background-color
    var(--transition-time);
}

.product-contact__signup:not(:disabled):active {
  background-color: #40474d;
}

@media (any-hover: hover) {
  .product-contact__signup:hover {
    color: #000;
    background-color: #f8f9fa;
  }
}
