.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bg-color-head);
  transition: box-shadow var(--transition-time);
}

.header--fixed {
  box-shadow: 0 0 20px 0 var(--shadow-color);
  overflow-y: hidden;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 32px;
  gap: 33px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (width <= 992px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    z-index: var(--layer-2);
    min-width: 297px;
    padding: 144px 15px 20px 0;
    background-color: var(--bg-color-head);
    box-shadow: -2px 0 20px var(--shadow-color);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: right var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
  }

  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }
}