.menu__list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.menu__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--main-color);
  transition: color var(--transition-time);
}

.toggle__down-icon {
  width: 12px;
  height: 8px;
  stroke: #0000;
  fill: #0000;
}

@media (width <= 768px) {
  .dropdown.show {
    position: static;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }
}

.dropdown {
  position: fixed;
  width: 130px;
  box-shadow: var(--shadow-color);
  border-radius: 10px;
  margin-top: 0.3rem;
  background: white;
  transition:
    opacity var(--transition-time),
    visibility var(--transition-time),
    transform var(--transition-time);
  transform: translateY(0.8rem);
  visibility: hidden;
  opacity: 0;
}

.dropdown__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  text-decoration: none;
  color: black;
  transition:
    background-color var(--transition-time),
    color var(--transition-time);
}

.show {
  visibility: visible;
  opacity: 1;
  transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
}

.arrow {
  transform: rotate(180deg);
  transition: transform var(--transition-time);
}

.header__actions-button {
  stroke: var(--main-color);
  width: 24px;
  height: 24px;
  color: var(--main-color);
  transition:
    fill var(--transition-time),
    stroke var(--transition-time);
  margin-left: 8px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 0;
}

.search__input {
  width: 0;
  opacity: 0;
  visibility: hidden;
  border: 0;
  padding: 0;
  transition: all var(--transition-time);
}

.search.active {
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  background: #f8f9fa;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.search__input.active {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #000;
  outline: none;
  background: transparent;
  width: 300px;
  opacity: 1;
  visibility: visible;
  padding: 8px 0 8px 16px;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

@media (width <= 1229px) {
  .search__input.active {
    width: 100%;
  }
}

@media (width <= 575px) {
  .header__logo {
    position: relative;
  }

  .header.search-expanded .header__logo {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity var(--transition-time),
      visibility var(--transition-time);
  }

  .search.active,
  .search_input.active {
    position: absolute;
    width: 96%;
    top: 30%;
    left: 2%;
    z-index: 20;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--accent-color);
  }

  .dropdown__menu:hover {
    color: var(--accent-color);
    background-color: #f8f9fa;
  }

  .arrow:hover {
    transform: rotate(180deg);
  }

  .header__actions-icon:hover,
  .header__actions-button:hover {
    fill: var(--accent-color);
    stroke: var(--accent-color);
  }
}
