@media (width > 576px) {
  .modal-sign {
    width: min(800px, 80%);
  }
}

.modal-sign__content {
  max-width: 448px;
  margin: 0 auto;
}

@media (width > 576px) {
  .modal-sign__title {
    margin-bottom: 56px;
  }
}

@media (width <= 576px) {
  .modal-sign__title {
    margin-bottom: 36px;
  }
}

.modal-sign__form {
  display: flex;
  flex-direction: column;
}

.modal-sign__label {
  margin-bottom: 16px;
}

.modal-sign__input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #000;
  border: 1px solid #000;
  border-radius: 16px;
  width: 285px;
  height: 50px;
  background: #f8f9fa;
  display: inline-block;
  width: 100%;
  border: 1px solid var(--main-color);
}

@media (width > 576px) {
  .modal-sign__input {
    padding: 20px 24px;
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .modal-sign__input {
    padding: 14px 18px;
    font-size: 14px;
  }
}

.modal-sign__input::placeholder {
  color: var(--secondary-color);
}

.modal-sign__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  border-radius: 200px;
  background-color: #000;
  transition: background-color var(--transition-time);
}

@media (any-hover: hover) {
  .modal-sign__submit:hover {
    background-color: #2d2c2ce6;
  }
}

@media (width > 576px) {
  .modal-sign__submit {
    margin-top: 56px;
    padding: 20px;
  }
}

@media (width <= 576px) {
  .modal-sign__submit {
    margin-top: 36px;
    padding: 14px;
  }
}
