.packs {
  padding-bottom: 72px;
}

.packs__container {
  padding-bottom: 56px;
}

.packs__title {
  font-family: var(--secod-family);
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  text-align: center;
  color: #000;
}

.packs__title-text {
  font-family: var(--secod-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  text-align: center;
  color: #000;
}

@media (width <= 768px) {
  .packs__title {
    font-size: 35px;
  }

  .packs__title-text {
    font-size: 11px;
  }
}

.packs__cards {
  display: flex;
  gap: 28px;
}

.packs__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 413px;
  height: 453px;
  background: #f8f9fa;
}

.packs__card-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 41px;
	padding-bottom: 30px;
}

@media (width <= 768px) {
  .packs__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.pack__button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-transform: capitalize;
  text-align: center;
  color: #000;
  padding: 14px 63px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 200px;
  width: 190px;
  height: 50px;
	transition: background-color var(--accent-color-3);
}

.packs__button {
  transition: color var(--transition-time);
}

.button:not(:disabled):active {
  background-color: #40474d;
}

.packs__card-image {
  flex-shrink: 0;
}

@media (any-hover: hover) {
  .pack__button:hover {
    background-color: var(--accent-color-3);
  }

  .packs__button:hover {
    color: var(--accent-color-2);
  }
}
