* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  min-height: 100vh;
}

.form {
  border: 1px solid #000;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
}

legend {
  font-weight: 700;
  margin-bottom: 15px;
}

.form-group {
  border: none;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
  max-height: 100px;
  width: 100%;
}

.checkbox-label {
  padding-left: 22px;
}

.checkbox {
  position: absolute;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding-left: 16px;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -40px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:checked::after {
  background:
    url("../img/check-icon.svg") no-repeat center,
    #9d00f8;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 6px 18px;
  color: #ffffff;
  background-color: #9d00f8;
  transition:
    opacity 0,
    2s;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  background-color: #360752;
}

.input:focus-visible,
textarea:focus-visible,
.button:focus-visible,
.checkbox:focus-visible::after {
  outline: 2px solid #9d00f8;
  outline-offset: 1px;
}
