* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px;
}

.header {
  background-color: #f00;
  grid-column: 1 / 12 span;
}

.aside {
  background-color: #e2e20d;
  grid-column: 2 span;
	grid-row: 2 / 1 span;
}

.main {
  grid-column: 3 / 12 span;
  background-color: #31bb0a;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.article {
  background-color: #de6e05;
  min-height: 200px;
}

.footer {
  background-color: #0b2fe2;
  height: 300px;
  grid-column: 12 span;
  grid-template-columns: repeat(12, 1fr);
}

@media (width <= 1200px) {
	.aside {
		grid-column: 3 span;
	}

	.main {
		grid-column: 4 / 12 span;
	}
}

@media (width <= 768px) {
	.aside {
		display: none;
	}

	.main {
		grid-column: 1 / 12 span;
	}
}