@media (width > 576px) {
  .modal-buy {
    width: min(800px, 80%);
  }
}

.modal-buy__content {
  max-width: 448px;
  margin: 0 auto;
}

@media (width > 576px) {
  .modal-buy__title {
    margin-bottom: 56px;
  }
}

@media (width <= 576px) {
  .modal-buy__title {
    margin-bottom: 36px;
  }
}

.modal-buy__form {
  display: flex;
  flex-direction: column;
}

.modal-buy__label {
  margin-bottom: 16px;
}

.modal-buy__input {
  display: inline-block;
  width: 100%;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-color);
}

@media (width > 576px) {
  .modal-buy__input {
    padding: 20px 24px;
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .modal-buy__input {
    padding: 14px 18px;
    font-size: 14px;
  }
}

.modal-buy__input::placeholder {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.modal-buy__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bg-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: box-shadow var(--transition-time);
}

@media (any-hover: hover) {
  .modal-buy__submit:hover {
    box-shadow: var(--shadow-accent-glow);
  }
}

@media (width > 576px) {
  .modal-buy__submit {
    margin-top: 56px;
    padding: 20px;
  }
}

@media (width <= 576px) {
  .modal-buy__submit {
    margin-top: 36px;
    padding: 14px;
  }
}
